{% extends "inventory/base.html" %}
{% load staticfiles %}

{% block head-block %}
    <link rel="stylesheet" type="text/css" href={% static 'inventory/results_style.css' %} />
{% endblock %}

{% block content %}
    <h2 id="page-title">{% block table-name %}{% endblock %}</h2>
    {% if switch_list %}
        {% block table-stats %}{% endblock %}
        <table class="results">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Prop num</th>
                    <th>Public IP</th>
                    <th>Type</th>
                    <th>Model</th>
                </tr>
            </thead>
            <tbody>
            {% for switch in switch_list%}
                <tr>
                    <td><a href="{% url 'inventory:switch_details' switch.id %}">{{ switch.name }}</a></td>
                    <td>{{ switch.property_num }}</td>
                    <td>{{ switch.ip }}</td>
                    <td>{{ switch.get_switch_type_display }}</td>
                    <td>{{ switch.get_switch_model }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p id="no-results">No switches were found in inventory.</p>
    {% endif %}
{% endblock %}
