{% extends "inventory/base_host_list.html" %}

{% block subtitle %} | VM Hosts{% endblock %}

{% block table-name %}VM Hosts{% endblock %}

{% block table-stats %}

    <ul id="stats">
        <li>This app currently has <strong>{{ host_list|length }}</strong> total hosts.</li>
        <li><strong>{{ bacula_fd_count }}</strong> of those hosts are being backed up.</li>
        <li><strong>{{ ansible_managed_count }}</strong> of those hosts are under Ansible.</li>
    </ul>

{% endblock %}

{% block property-num-th %}{% endblock %}

{% block extra-th %}
    <th>Hosted by</th>
{% endblock %}

{% block property-num-td %}{% endblock %}

{% block extra-td %}
    <td>{{ host.host_machine.name }}</td>
{% endblock %}
